<div class="filter w-full pt-4 pb-4 pl-2 pr-2">
  <div class="container">
    <h1 class="text-white flex">
      <span class="material-symbols-outlined">sports_esports</span>
      Les meilleurs joueurs du tournoi
    </h1>
  </div>
</div>

<div class="container pt-4">
  <h3>Prédisez le meilleur buteur du tournoi(Golden Boot) et le nombre de but qu’il inscrira ainsi que le joueur du tournoi (Player of tournament)</h3>


  <div class="grid">
    <div class="col-4 goldenBoot">
      <div class="goldenBoot w-full">

      </div>
    </div>

    <div class="col-4 tournamentPlayer">
      <div class="tournamentPlayer w-full">

      </div>
    </div>
  </div>
</div>

<ng-template #loader>
  <loader [showLoader]="false" />
</ng-template>
