<div class="subHeader pt-2 pb-2 pl-3 pr-3 sm:pr-4 sm:pl-4">
  <div class="container h-full flex justify-content-between align-items-center">
    <span class="teaser text-xs flex align-items-center">
      <span class="material-symbols-outlined text-lg mr-1">
        sports_esports
      </span> IML FOOTBALL CHALLENGE - UEFA EURO 2024™</span>
    <button class="btnLogin" (click)="showLoginModal()">
      <span class="material-symbols-outlined mr-0 text-xl">account_circle</span>
    </button>
  </div>
</div>

<div class="headerNav relative pt-3 pb-3 pl-3 pr-3 shadow-1 sm:pr-4 sm:pl-4 sm:pt-4 sm:pb-3">
  <div class="container  flex justify-content-between align-items-center">
    <div class="headerLogo h-full">
      <img src="../../../../assets/logo-euro-2024.png" alt="" />
    </div>

    <cmp-nav />
  </div>
</div>

<modal [(showModal)]="showLogin" [modalSize]="'md'">
  <app-login [modalOn]="showLogin"></app-login>
</modal>
