<div class="container pt-3 flex flex-column align-items-center">
  <h2>Êtes-vous prêts à relever le défi des matchs de l'Euro 2024 ? Que le meilleur gagne !</h2>
  <div class="grid justify-content-center gap-4 mt-4">
    <div class="col-12 md:col-2">
      <a href="#meilleur-buteur" class="gameShortcut" title="Les meilleurs joueur">
        <img src="assets/jeu-meilleur-joueur.png" alt="" width="100%" height="auto" />
      </a>
    </div>
    <div class="col-12 md:col-2">
      <a href="#pronostiques" class="gameShortcut" title="Pronostiquer les matchs">
        <img src="assets/jeu-pronostique.png" alt="" width="100%" height="auto" />
      </a>
    </div>
    <div class="col-12 md:col-2">
      <a href="#bracket" class="gameShortcut" title="Le jeu du bracket">
        <img src="assets/jeu-bracket.png" alt="" width="100%" height="auto" />
      </a>
    </div>
  </div>
</div>

