<div class="filter w-full pt-4 pb-4 pl-2 pr-2">
  <div class="container">
    <h1 class="text-white flex">
      <span class="material-symbols-outlined">sports_esports</span>
      Pronostiques des matchs
    </h1>
  </div>
</div>

<div class="container pt-4">

  <div *ngIf="$groupedMatches | async as groupedMatches; else loader;">

    <ng-container *ngFor="let date of getDates(groupedMatches)">
      <h2 class="capitalize">{{ date | date: 'fullDate' }}</h2>

      <div class="flex gap-2 mb-8 flex-wrap">
        <ng-container *ngFor="let match of groupedMatches[date]">
          <div class="col-12 p-0 flex-shrink-0 lg:col-4">
            <app-match [match]="match" [isPronostiques]="true" [disabled]="!isLoggedIn" />
          </div>
        </ng-container>
      </div>
    </ng-container>

  </div>

</div>

<ng-template #loader>
  <loader [showLoader]="true" />
</ng-template>
