<div class="teamDetails absolute m-auto top-0 left-0 right-0 h-full bg-white">
  <div class="teamBanner p-4 h-6rem flex align-items-center md:h-10rem">
    <img [src]="team.badge_url" alt="" class="md:w-6rem md:h-auto" width="60" height="60" />
    <h2 class="text-xl ml-4 pt-1 text-white md:text-6xl">{{ team.name | uppercase }}</h2>
  </div>

  <app-tabcontent>
    <ng-template tabContent title="News">
      <div>Contenue de news</div>
    </ng-template>
    <ng-template tabContent title="Joueurs">
      <div class="">
        <span>Contenue concernant les joueurs</span>
      </div>
    </ng-template>
    <ng-template tabContent title="Matchs">
      <div>Les matchs de cette equipe pour l'euro 2024</div>
    </ng-template>
  </app-tabcontent>
</div>
